/* Global Styles  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img{
    max-width: 470px;
    border: 2px solid;
}

.container{
    max-width: 100vh;
    margin: auto;
}

h1{
    color: black;
    font-size: 30px;
    line-height: 35px;
}

body{
    display: grid;
    height: 100vh;
    place-content: center;
}
/* Global Styles End  */

/* Newslatter Styles Starts  */
.form_wrapper{
    display: flex;
    align-items: center;
    gap: 30px;
    background: linear-gradient(90deg, hsla(191, 88%, 81%, 1) 0%, hsla(260, 72%, 82%, 1) 50%, hsla(247, 73%, 69%, 1) 100%);
    padding: 30px;
}

.form_content form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form{
    background: linear-gradient(90deg, hsla(31, 90%, 76%, 1) 0%, hsla(302, 82%, 76%, 1) 100%);
    padding: 50px;
    /* border: 1px solid; */
    border-radius: 8px;
}

input{
    padding: 10px;
    max-width: 100%;
    border: none;
    border-radius: 8px;
}

input:focus, textarea:focus{
    outline: none;
}

.submit_button{
    max-width: 50%;
    background-color: black;
    color: white;
    font-size: 14px;
    border-radius: 8px;
}

textarea{
    padding: 10px;
    border: none;
    border-radius: 8px;
}
/* Newslatter Styles End  */

/* Responsive  */
@media (max-width: 800px){
    .form_image{
        max-width: 270px;
    }

    .form_content{
        max-width: 370px;
    }
}

@media (max-width: 600px){

    .newslatter{
        padding: 50px;
    }

    .form_image{
        max-width: 170px;
    }

    .form_content{
        max-width: 270px;
    }

    .form_heading h1{
        font-size: 22px;
        line-height: 25px;
    }

    .submit_button{
        font-size: 12px;
    }
}

@media (max-width: 356){

    .newslatter{
        padding: 20px;
    }

    .form_image{
        max-width: 150px;
    }
}