@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* Header section style  */
.main-header{
    padding: 30px;
}

.container{
    max-width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a{
    color: #385F96;
    text-decoration: none;
}

.header-button{
    color: #ffffff;
    text-decoration: none;
    background-color: #385F96;
    padding: 14px 41px;
    border-radius: 30px;
}
/* Header section style end  */

/* Main section-1 style */
.main-wrapper{
    padding: 100px 0;
    position: relative;
}

.main-wrapper::before{
    content: "";
    background-image: url(Images/image\ 4.png);
    background-repeat: no-repeat ;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 7.5%;
    bottom: -11%;
    z-index: -1;
}


.main-section h2{
    color: #385F96;
    font-size: 48px;
    line-height: 135.5%;
    letter-spacing: 0.24px;
}

.main-section p{
    margin: 20px 0;
}

.main-section a{
    color: #ffffff;
    background-color: #385F96;
    padding: 14px 41px;
    display: inline-block;
    border-radius: 30px;
    text-decoration: none;
}
/* Main section-1 style end  */

/* Section-2 */
.wrapper-2{
    display: flex;
    align-items: center;
    gap: 150px;
    margin-bottom: 150px;
}

.wrapper-2 img{
    max-width: 400px;
}

.wrapper-2{
    width: 100%;
    height: 100%;
}

.section-2 h2{
    color: #385F96;
    font-size: 36px;
    font-weight: 700;
    line-height: 135.5%;
    letter-spacing: 0.18px;
}

.section-2 p{
    margin: 20px 0;
}

.section-2 a{
    color: #ffffff;
    background-color: #385F96;
    padding: 14px 41px;
    display: inline-block;
    border-radius: 30px;
    text-decoration: none;
}
/* Section-2 end  */

/* Section-3 */
.section-3{
    background-color: #78E5EB;
    padding: 70px;
    display: flex;
}

.wrapper-3 h2{
    color: #385F96;
    font-size: 36px;
    line-height: 135.5%;
    letter-spacing: 0.18px;
    margin-bottom: 20px;
}

.wrapper-3 a{
    color: #ffffff;
    background-color: #385F96;
    padding: 14px 41px;
    display: inline-block;
    border-radius: 30px;
    text-decoration: none;
}
/* Section-3 end  */

/* Footer section style  */
.footer-section{
    background-color:#385F96;
    padding: 25px 0;
    max-width: 100%;
}
.footer-section p{
    color: #ffffff;
    text-align: center;
}
/* Footer section style end */