h1{
    color: blue;
    /* !important; */
}

.heading2{
    background-color: blueviolet;
    color: white;
    padding: 10px;
    text-align: center;
}

.heading3{
    color: white;
    background-color:deeppink;
    text-align: center;
    padding: 10px;
}

p{
    color: white;
    background-color: cornflowerblue;
    padding: 10px;
    font-size: 20px;
}

a{
    color: white;
    background-color: black;
    padding: 7px;
    text-decoration: none;
}

.h2{
    background-color:forestgreen;
    color: white;
    padding: 10px;
    font-size: 30px;
}

