* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  background-color: thistle;
}

.float__paragraph {
  font-size: 1.6rem;
  margin: 1rem;
}

p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.container {
  margin: 1rem;
}

.box {
  overflow: auto;
  margin-bottom: 3rem;
}

/* Float  */
img {
  width: 475px;
  height: auto;
  float: left;
  margin-right: 1rem;
}

.float__paragraph {
  font-size: 1rem;
  margin: 0;
  margin-top: 1rem;
  text-align: justify;
}

/* Flex */
.flexbox {
  padding: 1rem;
  height: 375px;
  border: 1px solid;
  display: flex;
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  gap: 1rem;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  /* align-items: center; */
  flex-grow: 1;
}

.item1 {
  background-color: rebeccapurple;
  /* width: 100px; */
  /* min-width: 200px; */
  height: 100px;
  color: #fff;
  /* order: 3; */
  flex-basis: 275px;
}

.item2 {
  background-color: palevioletred;
  /* width: 100px; */
  /* min-width: 200px; */
  height: 100px;
  color: #fff;
  flex-basis: 300px;
}

.item3 {
  background-color: royalblue;
  /* width: 100px; */
  /* min-width: 200px; */
  height: 100px;
  color: #fff;
  flex-basis: 100px;
}

#main {
  padding: 1rem;
  gap: 1rem;
  margin-top: 1rem;
  height: 275px;
  border: 1px solid;
  display: flex;
  /* flex-wrap: wrap; */
  align-content: start;
}

#main div {
  width: 100px;
  height: 100px;
  /* flex-grow: 1; */
  /* flex-shrink: 0; */
}
